body {background-color: lightgreen;}
h1 {color: red;}
ol {color: blue;
font: verdana;}
p {font-size: 30px;}
a {color: blue;
  text-decoration: none;}
nav a:hover {
  background-color: black;
  color: white;
}
.one {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 30px;
}
#name {
  border-style: dotted;
}
#email {
  border-style: dotted;
}
#message {
  border-style: dotted;
  border: 2px dotted black;
}
label {
  display: block;
}
