.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  background-color: lightgreen;
}
.one {
  border: 3px solid;
  border-color: black;
}
.two {
  border: 3px solid;
  border-color: black;
}
.three {
  border: 3px solid;
  border-color: black;
}
.four {
  border: 3px solid;
  border-color: black;
}
.five {
  border: 3px solid;
  border-color: black;
}
.six {
  border: 3px solid;
  border-color: black;
}
.seven {
  border: 3px solid;
  border-color: black;
}
.eight {
  border: 3px solid;
  border-color: black;
}
.nine {
  border: 3px solid;
  border-color: black;
}
.ten {
  border: 3px solid;
  border-color: black;
}
a {color: blue;
  text-decoration: none;}
  nav a:hover {
    background-color: black;
    color: white;
    display: flex;
}
